<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2016 OpenSynergy Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->

<openerp>
<data>

<menuitem
    id="accountant_ppajp_report_menu"
    name="PPAJP"
    sequence="1"
    parent="accountant_app.accountant_report_menu"
    />

</data>
</openerp>
