<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2019 OpenSynergy Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->

<openerp>
<data>

<menuitem
    id="djbc_reporting_kite_menu"
    name="KITE"
    sequence="1"
    parent="l10n_id_djbc_app.djbc_reporting_menu"
    />


</data>
</openerp>
